<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         name="Vitruv SysML Domain Provider"
         point="tools.vitruv.framework.domains.provider">
      <domainProvider
            class="tools.vitruv.domains.sysml.SysMlDomainProvider"></domainProvider>
   </extension>

</plugin>
